$background: #333;
$txt: #1d1d1d;
$lightTxt: #fff;
$shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.30);

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}